<div class="d-flex justify-content-around">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link"
                [routerLink]="['/']">
                    <img width="30px" src="https://lagalm.mx/assets/isologo.png">
            </a>
        </li>
    </ul>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link"
                [routerLink]="['/']">
                    Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                [routerLink]="['/contact']">
                    Contact
            </a>
        </li>
    </ul>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link"
                [routerLink]="['/app']">
                    Portal
            </a>
        </li>
    </ul>
</div>